body { padding-top: 70px; }

.footer-links li {
display: inline;
padding:0 2px;
}
.footer-links li img {
	margin-top: 10px;
}
.footer {
	background-color: #ffffff
}
/* Adds a blank margin at the end of the page to match footer height */
div.push {
	height: 70px;
}
/* license style in footer */
.license {
	color: gray;
	font-size: 80%;
	text-align: center;
}
.license img {
	margin-right: 2px;
}